@inherits LayoutComponentBase

<div class="page @(isSidebarCollapsed ? "sidebar-collapsed" : string.Empty)">
    <div class="sidebar">
        <NavMenu IsSidebarCollapsed="isSidebarCollapsed" OnSidebarToggle="ToggleSidebar" />
    </div>

    <main>
        <div class="top-row px-4">
            <div class="top-row-status">@CurrentPageTitle</div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
