@inherits LayoutComponentBase

<div class="page @(isSidebarCollapsed ? "sidebar-collapsed" : string.Empty)">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button type="button" class="sidebar-visibility-toggle" @onclick="ToggleSidebar">
                <Icon Type="@(isSidebarCollapsed ? "menu-unfold" : "menu-fold")" />
                <span>@(isSidebarCollapsed ? "顯示功能清單" : "收合功能清單")</span>
            </button>
            <div class="top-row-status">@CurrentPageTitle</div>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool isSidebarCollapsed;

    private void ToggleSidebar()
    {
        isSidebarCollapsed = !isSidebarCollapsed;
    }
}
