<div class="top-row navbar-dark">
    <div class="sidebar-brand">
        <div class="sidebar-brand-icon">
            <Icon Type="appstore" />
        </div>
        <div class="sidebar-brand-text">
            <a class="navbar-brand" href="">MyProject.Web</a>
            <div class="navbar-subtitle">管理後台功能清單</div>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-section-title">功能選單</div>
        @if (MenuItems.Count == 0)
        {
            <div class="nav-item px-3">
                <span class="nav-link nav-link-disabled">尚無可用選單</span>
            </div>
        }
        else
        {
            @foreach (var item in MenuItems)
            {
                <SidebarMenuNode Item="item" />
            }
        }
    </nav>
</div>

